* {
    box-sizing: border-box;
}

.grid-container {
    margin: 0 auto;
    border: solid 2px;
    height: 700px;
    width: 700px;
    display: grid;
}

#clear {
    display: block;
    margin: 12px auto 0;
    padding: 20px 70px;
    border-radius: 5px;
    font-size: medium;
    border: none;
}